*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

/* header{
    position: fixed;
} */
 header{
    position: fixed;
 }

.header__logo{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header__wraper{
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 2%;
    margin: 0 auto;
    align-items: center;
    /* background: url(wallpaperbetter.jpg); */
    background: rgba(9,9,9, 0.25);
    justify-content: space-between;
}

.header__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 8vh;
}


.header__menu a{
   color: white;
   text-decoration: underline;
   transition: 0.3s;
}

.header__menu a:hover{
    color: red;
    opacity: 0.7;
}

.header__main{
    background: url("/docs/imagens/background.jpg");
    min-height: 100vh;
    background-position: center;
}

main {
    /* background: url(wallpaperbetter.jpg); */
    height: 92vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding-top: 40px;

}

.header__wraper{
    display: flex;
    padding: 0 2%;
    margin: 0 auto;
    align-items: center;
    /* background: url(wallpaperbetter.jpg) */
}

.header__menu{
    text-align: right;
    width: 100%;
    display: inline-block;
    line-height: 80px;
    transition: 0.8s;
}



.header__menu a{
   color: white;
   text-decoration: underline;
   margin-right:60px; 
   padding: 8px 10px;
   display: inline-block;
   font-size: 12px
}

.header__menu a:hover{
    color: red;
}



.titulo{
    padding-top: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
    -webkit-text-stroke: 1px #FFFFFF;
    -moz-text-stroke: 1px #FFFFFF;
    
}
.subtitulo{
  padding-top: 35px;
}

.jogar{
   padding-top: 10%;
   padding-left: 6%;
}

.quadrado_jogar{
    width: 180px;
    height: 70px;
    background-color: rgb(3, 200, 157);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
    opacity: 0.8;
    border-radius: 10px;
}

.jogar:hover{
    color: red;
    opacity: 0.7;
    cursor: pointer;
}

.principal{
    background-image: url("/docs/imagens/jogo.jpg");
    
    background-size: cover;
    position: relative;
    width: auto;
    height: auto;
    
}
.overhide{
    background: rgba(9,9,9, 0.25);
    min-height: 100vh;
    
}

/* Caixa geral */
.texto {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
  
  /* Títulos secundários */
  .topicos {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    
  }
  
  /* Textos */
  .descriçoes {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tela1{
    background-image: url('imagens/jogo.jpg');
    
    height: 300px;
    width: 50%;
    margin: 5px;
    background-size: cover;
    
}
.tela2{
    background-image: url("imagens/tela_jogo.jpg");
    height: 300px;
    width: 50%;
    margin: 5px;
    background-size: cover;
    background-position: center;
}
.imagem_moeda{
    display: flex;
    align-items: center;
    background: rgba(189, 182, 182, 0.25);
}

.imagem_kirb{
    display: flex;
    align-items: center;
    background: rgba(189, 182, 182, 0.25);
}

.imagem_monkey{
    display: flex;
    align-items: center;
    background: rgba(189, 182, 182, 0.25);
}

.tela_fases {
    display: inline-block;
    justify-content: space-between; /* opcional, define espaço entre as telas */
    
  }
  
  .tela_fase1, .tela_fase2 {
    display: flex;
    align-items: center;
    width: 50%; /* cada tela tem 50% da largura do container pai */
  }
  
 .historico{
    align-items: center;
    display: flex;
  }
  
footer {
    position:relative;
    bottom: 0;
    background-color: rgb(164, 164, 183);
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
    /* background-image: url("imagens/terra copy.png"); */
    background-color: rgba(9,9,9,0.25);
    
}

.rodape_menu{
    margin-right:60px;
    justify-content: space-evenly;
    display: flex;
}
  
.fundo{
    background-image: url("imagens/fundo3 copy.png");
    background-size: cover;
}
  
.rodape_menu a:hover{
    color: red;
    opacity: 0.7;
}